.profile__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  max-width: 310px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 799px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    max-width: 200px;
  }
}
