.profile__edit-button {
  display: block;
  background-image: url(../../../images/edit-button.svg);
  width: 24px;
  height: 24px;
  background-size: contain;
  align-self: center;
  transition: all ease-in-out 0.3s;
  border: none;
  background-color: black;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transform: scale(1.05);
}


@media screen and (max-width: 799px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
