.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

@media screen and (max-width: 997px) {
  .header {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 677px) {
  .header {
    padding: 28px 27px 30px;
    width: auto;
  }
}
